[Unit]
Description=mbsync service
Documentation=man:mbsync(1)
ConditionPathExists=%h/.mbsyncrc

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -aV
ExecStartPost=/usr/bin/notmuch new
TimeoutSec=120

[Install]
WantedBy=mail.target
