[Unit]
Description=mbsync query timer
ConditionPathExists=%h/.mbsyncrc

[Timer]
OnBootSec=1m
OnUnitInactiveSec=60m

[Install]
WantedBy=default.target
